html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    width: 400px;
    margin: 0 auto;
}

.btn {
    border: 1px solid #666;
    border-radius: 3px;
}

.btn.selected,
.btn:active {
    background: #999;
}

.btn.play-pause {
    display: inline-block;
    width: 75px;
    text-align: center;
}

.btn.right,
.btn.left {
    margin: 0;
}
.btn.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
}

.btn.right {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
